* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: #f0f2f5;
    padding: 0 15px;
}
.container h1{
    font-family: 4rem;
    color: #1877f2;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 1.5rem;

form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0),
                0 8px 16px rgba(0, 0, 0, 0.1)
}
form input {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 2rem;
    margin-bottom: 15px;

}

form input:focus {
    outline: none;
    border-color: #1877f2;
}
::placeholder {
    color: #777;
    font-size: 1.rem;

button {
    padding: 10px 15px;
    font-size: 16px bold;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    justify-content: space-between;
}

.button-group {
    margin-top: 20px;
}

#barcodeContainer {
    display: none;
}
